TELEGRAM_BOT_TOKEN=replace_me
CHECK_INTERVAL_MINUTES=20
DAILY_SUMMARY_HOUR=20
TIMEZONE=Europe/Berlin
MAX_BRUTTOKALT_RENT=573
MAX_WARM_RENT=650
SOFT_MAX_WARM_RENT=700
TARGET_CITY=Hamburg
TELEGRAM_ALLOWED_CHAT_IDS=
ENABLE_DEMO_SOURCE=true
